In [37]:
# Imports
import pandas as pd
import scipy.stats as stats

In [38]:
# Load subject data
file_path = '../data/ds002721-download/participants.tsv'
subjs = pd.read_csv(file_path, delimiter='\t')

In [39]:
subjs.groupby('sex').count()

     participant_id  age
sex
F                18   18
M                13   13

There were 18 females and 13 males.

In [40]:
mean = subjs['age'].mean()
min_ = subjs['age'].min()
max_ = subjs['age'].max()
std = subjs['age'].std()

print(f'The subjects\' mean age was {round(mean, 2)} ' + u'\u00B1' + f' {round(std, 2)} with a range of {min_}-{max_}.')

The subjects' mean age was 39.13 Â± 14.48 with a range of 18-66.