In [1]:
# imports
import sys
sys.path.insert(0, '..')

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sn

from src import load_eeg, load_subjs, plot_eeg

In [2]:
# load data
control_filepath = '../data/control_all.csv'
epochs_filepath = '../data/epochs_all.csv'
post_epochs_filepath = '../data/post_epochs_all.csv'

control = pd.read_csv(control_filepath)
epochs = pd.read_csv(epochs_filepath)
post_epochs = pd.read_csv(post_epochs_filepath)

In [3]:
control.shape

(304000, 20)

In [4]:
epochs.shape

(200000, 20)

In [5]:
post_epochs.shape

(200000, 20)

In [10]:
control_df = pd.DataFrame()

control_df.shape

(0, 0)

In [13]:
if control.shape == (0, 0):
    print('add')
else:
    print('go')

go

In [6]:
a = np.random.randint(0, 100, 100)
b = np.random.randint(0, 100, 100)
c = np.random.randint(0, 100, 100)
d = np.random.randint(0, 100, 100)

In [11]:
df = pd.DataFrame([a, b, c, d])

In [13]:
df = df.T

In [14]:
df

     0   1   2   3
0   46  12  11   2
1   22  47  65  58
2   48  31   0  91
3   71  57  51  22
4   25  94  99  15
..  ..  ..  ..  ..
95  21  87  40  64
96  67  82  49  88
97  18  51  83  84
98  46  40  70  79
99  66  91  55   2

[100 rows x 4 columns]

In [15]:
df_slc = df[::10]

In [16]:
df_slc

     0   1   2   3
0   46  12  11   2
10  71  49   6  10
20  94  53   3  83
30  80  48  41  26
40  75  55   9   2
50  43  89  67  47
60  80  26  80  77
70  43  42  73  44
80  95  55  87  95
90  15  81  18  45